@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* 

body {
    background-color: rgb(222, 236, 248);
}

.corpo {
    background-color: #D9D9D9;
    border-radius: 25px;
    margin: 50px;
    padding: 20px;
    box-shadow: 10px 5px 5px rgb(132, 136, 138);
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5% 0.5%;
}

.links-link {
    text-decoration: none;
    
}

.cabecalho {
    align-content: center;
}

main {
    display: flex;
    justify-content: space-between;
}

.container-sobre {
    background-color: #c4b28a;
    padding: 20px;
    border-radius: 15px;
    width: 300vh;
    height: fit-content;
    box-shadow: 8px 5px 5px rgb(132, 136, 138);
}

.container-texto {
    display: flex;
    flex-direction: column;
}

.box-sobre__imagem {
    width: 20%;
    height: auto;
    margin-top: 10px;
}

h4 {
    padding-left: 3px;
    padding-top: 3px;
}

.box-sobre {
    display: flex;
    padding: 4px;
    margin-top: -5px;
}

*/

:root {
    --cor1: #1B2430;
    --cor2: #51557E;
    --cor3: #816797;
    --cor4: #D6D5A8;
    --poppins: "Poppins", sans-serif;
    --libre: "Libre Baskerville", serif;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: var(--poppins);
    background-color: var(--cor2);
}

header {
    background-color: var(--cor3);
    padding: 15px;
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: center;
    gap: 100%;
}

.links__link {
    text-decoration: none;
    color: var(--cor1);
    font-family: var(--libre);
    font-weight: 600;
    font-size: 1.2em;
}

.links__link:hover {
    color: var(--cor4);
    transition: color 0.2s ease-in-out;
}

.box__musica {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 0.8em;
}

.imagem__musica:hover {
    transform: scale(1.1);
    filter: brightness(90%);
    transition: transform 0.2s ease-in-out;
}

.imagem__musica {
    width: 19%;
    height: auto;
    margin: 15px 0px 15px 0px;
    border-radius: 10px;
}

h2 {
    font-family: var(--libre);
    font-size: 1.5em;
    font-weight: 600;
    color: var(--cor1);
    text-align: center;
    margin: 15px;
}

.box__sobre {
    background-color: var(--cor4);
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    height: auto;
}

.box__sobre__imagem {
    width: 10%;
    margin: 10px;
    border-radius: 15px;
}

.box__sobre__imagem:hover {
    transform: scale(1.05);
    filter: brightness(90%);
    transition: transform 0.2s ease-in-out;
}

.box__sobre__texto {
    display: flex;
    flex-direction: column;
    padding: 15px;
}