@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(222, 236, 248);
}

.corpo {
    background-color: #D9D9D9;
    border-radius: 25px;
    margin: 50px;
    padding: 20px;
    box-shadow: 10px 5px 5px rgb(132, 136, 138);
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5% 0.5%;
}

.links-link {
    text-decoration: none;
    
}

.cabecalho {
    align-content: center;
}

main {
    display: flex;
    justify-content: space-between;
}

.container-sobre {
    background-color: #c4b28a;
    padding: 20px;
    border-radius: 15px;
    width: 300vh;
    height: fit-content;
    box-shadow: 8px 5px 5px rgb(132, 136, 138);
}

.container-texto {
    display: flex;
    flex-direction: column;
}

.box-sobre__imagem {
    width: 20%;
    height: auto;
    margin-top: 10px;
}

h4 {
    padding-left: 3px;
    padding-top: 3px;
}

.box-sobre {
    display: flex;
    padding: 4px;
    margin-top: -5px;
}

.sobre-texto {
    display: flex;
    padding: 5px 10px;
    margin-top: 3px;
}

.box-musica__posicao {
    display: flex;
    word-break: break-word;
}

.imagem-musica {
    width: 20%;
    height: auto;
    margin-bottom: 5px;
}

.texto-musica {
    display: flex;
    padding: 5px 10px;
}

.titulo {
    font-family: "Poppins", sans-serif;
}

.subtitulo {
    font-family: "Libre Baskerville", serif;
    text-decoration: underline;
}

.musica-titulo {
    font-family: "Poppins", sans-serif;
}

.ouvir {
    margin-left: 10px;
}